
* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.4;
}

div {
    box-sizing: border-box;
}


.container {
    width: 100%;
    max-width: 1200px;
    min-width: 480px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/*header*/

.header__title {
    text-align: center;
    padding-top: 10px;
}


/*timer*/

/*button*/

.button-box__button {
    width: 120px;
    height: 24px;
    background:  green;
    color: aliceblue;
}

.button-box__button:hover {
    background: darkgreen;
}